@media screen and (orientation: landscape) {
    ._touch{
        --font-size: 2rem;
    }
    ._touch .preName{
        color: green;
        font-size: 2rem;
        margin: 20px 0 20px 0;
    }
    
        
    ._touch div > div,
    ._touch .second__class,
    ._touch .first__class{
        font-size: 1.5rem;
        margin: 10px 0 10px 0;
        color: green;
    }
  }

  ._touch .music{
    height: var(--font-size);
    width: var(--font-size);
}

._touch .up{
    height: 70px;
}

._touch .text{
    font-size: 1.5rem;
    left: 41vw;
    margin-top: 0;
}

._touch footer{
    padding: 20px;
}

._touch #stars,
._touch #scores{
    font-size: 1.5rem;
}

._touch #textplace{
font-size: 1.5rem;
} 

._touch #tooltip{
    font-size: 1.5rem;
}

._touch footer{
    height: 15px;
    font-size: 1rem;
    padding-bottom: 20px;
}